<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Site configuration-->
    <add key="baseURL" value="http://svr-findata1-8.civica.root.local/CivicaTRUSTPurchasing/asp/signon.asp" />
    <add key="addNewGroupCode" value="http://svr-findata1-8.civica.root.local/CivicaTRUSTPurchasing/asp/AuthGroups_Add.asp" />
    <add key="UserName" value="CANREQ" />
    <add key="Password" value="Password10" />
    <!--Browser configuration-->
    <!--<add key="Browser" value="Firefox"/>-->
    <add key="Browser" value="Chrome" />
    <!--<add key="Browser" value="IE"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>